    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: 'Roboto', sans-serif;
    }

    .container{
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
    header nav ul.menu {
        display: flex;
        margin-left: auto; /* This will push the menu to the right */
    }
    
    header {
        padding: 16px 0;
        background-color: #3868d6;
        color: #ecf0f1;
    }

    header .container,
    section .container  {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    header .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header nav li {
        display: inline;
        margin-left: 16px;
        font-size: 18px;
    }
    
    header nav li a {
        color: #ecf0f1;
        text-decoration: none;
    }

    .conteudo{
        display: grid;
        grid-template-columns: 70% 30%;
    }
    .news img{
        max-width: 100%;
    }
    .produto img{
        max-width: 100%;
    }
    .destaque .produto a {
        display: flex;
        font-size: 2em;
    }

    .destaque .produto img{
        margin-right: 8px;
    }

    section h2{
        margin-bottom: 32px;
    }


    .produtos{
        display: grid;
        grid-template-columns: repeat(4, 32.6%);
        column-gap: 1%;
        row-gap: 5%;
    }

    
    @media screen and (max-width: 767px){
        .conteudo{
            display: block;
        }

        .container{
            max-width: 90%;
        }

        .destaque .noticia a{
            display: block;
            font-size: 1.5em;
        }
        .destaque .noticia img{
            margin-right: 0;
        }

        .noticias{
            display: block;
        }

        .noticia .noticias{
            margin-bottom: 32px;
        }

        aside{
            padding-left: 0;
        }

        header div.container{
            flex-direction: column;
        }

        .submenu{
            display: block;
            width: 100%;
            position: relative;
            border: none;

        }
        a    {
            text-decoration: none;
         }
         
         .menu{
            display: none;
         }

        .menu > li{
            clear: both;    
        }
    
        .submenu li{
            display: block;
            padding: 8px;    
        }

        .botao-menu{
            display: flex;
            justify-content: center;
            margin-top: 16px;
            padding-bottom: 16px;
        }
        .botao-menu button{
            padding: 8px;
        }
    }

@media screen and (min-width: 768px) and (max-width:1023px){
    
    .container{
        max-width: 90%;
    }
    .botao-menu{
        display: none;
    }
    
    .destaque .noticia a {
        font-size: 1.5em;
    }

    .noticias{
        grid-template-columns: repeat(2,49%);
    }
}

@media  screen and (min-width:1024px) {
    .botao-menu{
        display: none;
    }
}