* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

header,
section h2,
section h3,
form button {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

body,
input,
textarea {
    font-family: 'Roboto', sans-serif;

}

header {
    padding: 16px 0;
    background-color: #3868d6;
    color: #fff;
    font-style: italic;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
    font-style: normal;
}
header nav li a {
    color: #fff;
    text-decoration: none;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}