*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 16px 0;
    background-color: #3868d6;
    color: #e6e9f7;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

store-front {
    margin-right: 32px;
}

section p {
    margin-bottom: 8px;
}

